<!DOCTYPE html>  
<html>  
  <head>  
    <title>add</title>   
  </head>  
  <body>  
    <form>
    	<input type="text" name="username" id="">
    	<input type="text" name="password">
    	<input type="button" name="" id="sub">
    </form> 
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript">
    	jQuery(document).ready(function($) {
    		$("#sub").on('click', function(){
    			var data={};
    			$("form>input").not("input[type='button']").each(function() {
    				console.log($(this).attr('name'));
    				console.log($(this).val());
    				data[$(this).attr('name')]=$(this).val();
    			});
    			console.log(data);
    			$.ajax({
    				url: '/add/manager',
    				type: 'GET',
    				dataType: 'json',
    				data: {user: data},
    				success: function(data){
    					console.log(data);
    					if(data==1){
    						console.log('插入成功');
    					}
    				}
    			});
    		})
    	});
    </script>
  </body>  
</html>