<!DOCTYPE html>
<html>

<head>
    <title>find</title>
</head>

<body>
    <% 
    console.log(data.length);
    for(var i=0; i<data.length; i++){%>
      <p><%= data[i]._id%></p>
    <% }%>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="a.js"></script>
</body>

</html>