<!DOCTYPE html>  
<html>  
  <head>  
    <title><%= title %></title>   
  </head>  
  <body>  
    <h1><%= title %></h1>  
    <p>Welcome to <%= title %></p>  
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="a.js"></script>
  </body>  
</html>